version: '3.7'


services:
  redis:
    image: 'bitnami/redis:latest'
    restart: always
    environment:
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL,CONFIG
      - REDIS_PASSWORD=pro@reDis
    volumes:
      - redis-data:/opt/bitnami/redis
    ports:
      - '6379:6379'


volumes:
  redis-data: